main {
    position: absolute;
    top: 10vh;
    text-align: center;
    padding: 0px 20vw;
    padding-top: 5vh;
}

main div {
    max-width: 1200px;
    /* width: 100%; */
}

.card {
    display: block;
    display: grid;
    grid-template-columns: fit-content(10vw) fit-content(45vw) 1fr;
    grid-gap: 16px;
}

.card img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    -webkit-user-drag: none;
}

.card .content {
    text-align: left;
    color: white;
}

.card .content span {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions-container {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--dark-background);
    border-radius: 6px;
    padding: 4px 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Fields container styling */
.options-container {
    display: flex;
    gap: 10px; /* space between fields */
}

/* Individual field styling */
.options-container label {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

label select, input {
    padding: 8px 14px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: var(--dark-background);
    outline: none;
    cursor: pointer;
}

button {
    font-weight: 600;
    font-size: 1rem;
    color: var(--background);
    background-color: var(--yellow);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: .1s;
}


.results-container {
    margin-top: 2vh;
    height: 30vh;
    border: 2px solid var(--dark-background);
    border-radius: 6px;
    overflow-y: scroll;
}

table {
    border: none;
    border-radius: 8px;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    max-height: 30vh;
    min-height: fit-content;
    overflow-y: scroll;


}

table th {
    background-color: var(--background);
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0px;
    border: none;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: var(--light-background);
}

table, th, td {
    color: white;

}

/* Optional: Center Text in Cells */
table th, table td {
    text-align: center;
}