.results {
    padding: 30px;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.loading-text {
    color: rgba(255, 255, 255, 0.623);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1200px;
}

/* Grid items */
.grid-item {
    background-color: var(--dark-background);
    color: white;
    text-align: center;
    border-radius: 8px;
    /* padding-bottom: 20px; */
    cursor: pointer;
    transition: .1s;
    border: 0px solid var(--yellow);
}

.grid-item:hover {
    transition: .1s;
    border: 2px solid var(--yellow);
}

.grid-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-user-drag: none;
}

.grid-item div {
    margin: 12px;
}

.grid-item a {
    color: white;
    text-decoration: none;
}